// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Jua', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-large:4rem;
$font-medium:2.5rem;
$font-small:1.25rem;


//Color
$yellow:#F9D448;
$blue-grey:#c7c7c7;
$light-red: #4F709C;
$red:#932F3C;
$white:#FFFFFF;
$pale-cream:#FFF6E2;







